@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
    color: black;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
	--grenbody:#5cc096;
	--grennavbar:#479071;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	/* background: #5cc096; */
	overflow-x: hidden;
}





/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	/* background: #479071; */
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}
#sidebar .brand {
	font-size: 30px;
	font-weight: 700;
	height: 35px;
	display: flex;
	align-items: center;
	color: var(--dark);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	/* background: #479071; */
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
	/* margin-top: 10px; */
    padding-left: 29px;
	/* filter: drop-shadow(2px 2px 4px black); */
	align-items: flex-end;
}
#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}
#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}
#sidebar .side-menu li {
	height: 60px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 10px;
}
#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: var(--grenbody);
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
/* #sidebar .side-menu li a.logout {
	color: var(--red);
} */
#sidebar .side-menu.top li a:hover {
	color: var(--grenbody);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
/* SIDEBAR */





/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}




/* NAVBAR */
#content nav {
	height: 56px;
	background: var(--light);
	/* background: #479071; */
	padding: 0 64px;
	display: flex;
	align-items: center;
	grid-gap: 50px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 999;
	filter:drop-shadow(1px 1px 3px black);

}
#content nav::before {
	content: '';
	position: fixed;
	/* width: 40px; */
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
	font-size: 20px;
}
#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: var(--blue);
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: 300px;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--grenbody);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}


#content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--grenbody);
	border-radius: 50%;
	transition: all .3s ease;
}

.user-pic{
	width: 40px;
	border-radius: 50%;
	cursor: pointer;
	margin-left: 30px;
}

.sub-menu-wrap{
	position: absolute;
	top: 100%;
	left: 650px;
	width: 320px;
	max-height: 0;
	overflow: hidden;
	transition: max-heigth 0.5s;
	z-index: 999;
}

/* .sub-menu-wrap .open-clas{
	max-height: 400px; */


.user-info{
	display: flex;
	align-items: center;

}

.user-info h1{
    font-weight: 500;
}

.user-info img{
	width: 60px;
	border-radius: 50%;
	margin-right: 30px;
}

.sub-menu hr{
	border: 0;
	height: 1px;
	width: 100%;
	background: #ccc;
	margin: 15px 0 10px;
}

.sub-menu{
	background: #ffff;
	padding: 20px;
	margin: 10px;
}

.sub-menu-link{
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #525252;
	margin: 12px 0;
}

.sub-menu-link p{
	width: 100%;
}

.sub-menu-link img{
   width: 40px;
   background:#e5e5e5;
   border-radius: 50%;
   margin-right: 15px;
}

.sub-menu-link span{
	font-size: 22px;
	transition: transfrom 0.5s;
}
.sub-menu-link:hover span{
	transform: translateX(5px);
}
.sub-menu-link:hover p{
	font-weight: 600;
}


#content nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 65px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	/* overflow: auto;  */
	margin-left: 70%;
	
  }
  
  /* Modal Content */
  .modal-content {
	background-color: #fefefe;
	padding: 20px;
	border: 1px solid #888;
	width: 20%;
  }
  
  /* The Close Button */
  .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

  .profil-btn{
	padding: 5px 5px 5px;
	font-size: 10px;
	text-transform: uppercase;
	display: flex;
	color: #000;
	/* background-color: var(--light); */
  }
  .profil-btn i{
	font-size: 15px;
	color: var(--blue);
  }

/* NAVBAR */





/* MAIN */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h1 {
	font-size: 27px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
	padding-left: 25px;
	padding-top: 70px;
}
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li button{
	background-color: var(--grenbody);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
	filter: drop-shadow(2px 2px 4px);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--light);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--light-blue);
	pointer-events: unset;
}





#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}
#content main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}

.text-kategori{
    font-size: 13px;
}

.text-kategori strong{
    color: #DB504A;
}

#content main .box-info li img{
    width: 80px;
}
#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
	background: var(--light-blue);
	color: var(--blue);
}
#content main .box-info li:nth-child(2) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
}
#content main .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
}
#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
#content main .box-info li .text p {
	color: var(--dark);	
}

#content main .head-title form{
	/* background-color: var(--grenbody); */
    color: #fff;
    font-size: 12px;
    padding: 5px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 70px;
    cursor: pointer;
	filter: drop-shadow(2px 2px 4px);
}

#content main .head-title form input{
	flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

#content main .head-title form button{
	width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--grenbody);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

#content main .head-title .form-input{
	display: flex;
    align-items: center;
    height: 30px;
}

#content main .head-title .left .breadcrumb li a.active {
	color: var(--light-blue);
	pointer-events: unset;
}

.table-responsive{
    max-width: 900px;
    border: 1px solid var(--grenbody);
    background-color: #efefef33;
    padding: 15px;
    overflow: auto;
    margin: 30px;
    border-radius: 4px;
    
}
table{
    width: 100%;
    font-size: 14px;
    color:#e2e2e2;
    white-space: nowrap;
    border-collapse: collapse;
}

table>thead{
    background-color: rgb(12, 157, 157);
    color: whitesmoke;

}
table>thead th{
    padding: 15px;  
}
table th, table td{
    border: 1px solid rgb(225, 225, 225);
    padding: 10px 10px;
	text-align: center;
}
table>tbody>tr>td{
    color: #000;
}

table>tbody>tr>td>img{
    display: inline-block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 15px;
    /* border: 4px solid whitesmoke; */
    box-shadow: 0 2px 0px rgb(75, 73, 73);
}

.action_btn{
display: flex;
justify-content: center;
gap: 3px;
/* font-size: 20px; */
}

.action_btn a{
       text-decoration: none;
       color: #4444;
       background: whitesmoke;
       border: 1px solid;
       display: inline-block;
       padding: 7px 17px;
       font-weight: bold;
       border-radius: 13px;
       transition: 0.3s ease-in-out ;
}

.action_btn1 a{
	text-decoration: none;
	color: #4444;
	background: whitesmoke;
	border: 1px solid;
	display: inline-block;
	padding: 7px 17px;
	font-weight: bold;
	border-radius: 13px;
	transition: 0.3s ease-in-out ;
}

.action_btn1>:nth-child(1){
	background:rgb(19, 163, 235) ;
	color: white;
}

.action_btn>:nth-child(1){
     background:rgb(19, 163, 235) ;
     color: white;
}

.action_btn>:nth-child(2){
    background: rgb(238, 88, 88);
    color: white;
}

.action_btn>:nth-child(3){
    background: var(--dark-grey);
    color: white;
}

.action_btn>a:hover{
    box-shadow: 0 2px 8px #0003;
}

table>tbody>tr{
    background-color: whitesmoke;
    transition: 0,3s ease-in-out ;
}
table>tbody>tr:nth-child(even){
    background-color: antiquewhite;
}

table>tbody>tr:hover{
    filter: drop-shadow(0 2px 6px #0002);
}

.pagenation{
	display: inline-block;
	padding-left: 25%;
}

.pagenation a{
	color: #000;
	float: left;
    padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	margin: 0 4px;
}

.pagenation a.active {
	background-color: #4CAF50;
	color: white;
	border: 1px solid #4CAF50;
  }
  
  .pagenation a:hover:not(.active) {background-color: #ddd;}


/* MAIN */
/* CONTENT */









@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	#content nav .nav-link {
		display: none;
	}
}






@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}

	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content nav form.show ~ .notification,
	#content nav form.show ~ .profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .order table {
		min-width: 420px;
	}
	#content main .table-data .todo .todo-list {
		min-width: 420px;
	}
}